#a{color: rgb(0, 0, 255);}
#b{color: rgb(255, 115, 0);}
#c{color: rgb(0, 112, 0);}
#d{color: rgb(211, 197, 0);}
#e{color: rgb(179, 12, 0);}
*{font-family: myfont; font-weight: 100;}
@font-face {
    font-family: myfont;
    src: url(font.ttf);
}